//color Variables

//ベースカラー
$baseColor1:#ffffff;
$baseColor2:#E2ddd1;

//メインカラー
$mainColor1:#6E551B;
$mainColor2:#3c2f10;

//アクセントカラー
$accentColor:#12460f;

//テキストカラー
$textColor1:#333333;
$textColor2:#ffffff;

//オーバーレイ(透明度つき）
$overlay1:rgba(#3c2f10,0.3);
$overlay2:rgba(#ffffff,0.85);

//FOnt Variables
$caslon:"Libre Caslon Text";
$serif:"Noto Serif JP";
$sans:"Noto sans JP";

